name: Bump Version

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Prerelease type (alpha, beta, rc) or leave empty for stable'
        required: false
        default: 'alpha'

permissions:
  contents: write

jobs:
  bump-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Bump Version with Commitizen
        id: cz
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: true
          commit: true
          changelog: true
          prerelease: ${{ github.event.inputs.prerelease }}

      - name: Print Version
        run: echo "Bumped to version ${{ steps.cz.outputs.version }}"